<form #addressForm="ngForm" (submit)="changeAddress()">
  <app-select label="Title"
    [options]="titleOptions"
    [error]="errors.title"
    [model]="address.title"
    (modelChange)="address.title = $event">
  </app-select>
  <app-text-input label="* Full name"
    [error]="errors.name"
    [model]="address.name"
    (modelChange)="address.name = $event">
  </app-text-input>
  <app-text-input label="* Address Line 1"
    [error]="errors.line1"
    [model]="address.line1"
    (modelChange)="address.line1 = $event">
  </app-text-input>
  <app-text-input label="Address Line 2"
    [error]="errors.line2"
    [model]="address.line2"
    (modelChange)="address.line2 = $event">
  </app-text-input>
  <app-text-input label="* Town/City"
    [error]="errors.town"
    [model]="address.town"
    (modelChange)="address.town = $event">
  </app-text-input>
  <app-text-input label="County"
    [error]="errors.county"
    [model]="address.county"
    (modelChange)="address.county = $event">
  </app-text-input>
  <app-text-input label="* Postcode"
    [error]="errors.postcode"
    [model]="address.postcode"
    (modelChange)="address.postcode = $event">
  </app-text-input>
  <app-text-input label="* Phone Number"
    [error]="errors.phone"
    [model]="address.phone"
    (modelChange)="address.phone = $event">
  </app-text-input>

  <button type="submit" class="btn btn-primary">{{ mode === 'new' ? 'Add' : 'Edit'}} address</button>
</form>
