@import '../../styles/cards';

.new-address-card {
  @include card;

  &__title {
    margin: 50px 0;
    text-align: center;
  }

  &__action {
    margin: 0 50px;
  }
}

.list__cards-wrapper {
  overflow-x: auto;
  display: flex;
  margin: 20px 0;
}

.list__form-wrapper {
  margin-bottom: 20px;
}
